<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Boulder Bike Tour</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/secondary-footer' %>
    <%= render 'layouts/footer' %>
  </body>
</html>