<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Boulder Bike Tour - Rocky Mountains, Colorado Edition</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body id="page-top">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>